include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include requirements.txt

recursive-include doc *.rst conf.py Makefile make.bat *.jpg *.png *.gif
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

# large sample data files used by the tests, not shipped
exclude slippy/data/*.al3d slippy/data/*.txt
